.root {
  text-align: center;
  padding: 100px;
  max-width: 750px;
  margin: 0 auto;
  span {
    font-size: 5rem;
  }
  a {
    color: darkslateblue;
    text-decoration: underline;
  }
}

.description {
  font-size: 1.5rem;
}
